.clsMain {
  width: 50%;
  margin: auto;
  overflow: hidden;
}
mat-card-header {
  background: #dddddd;
  padding: 5px;
  color: white;
}

mat-card-content {
  padding: 10px;
}

mat-card {
  padding: 0;
}
