<button mat-raised-button color="primary" (click)="attendence()">
  <mat-icon mat-list-icon>calender</mat-icon>Attendence
</button>
<div class="wrap-container">
  <div class="group-button">
    <button (click)="getClockIn()">
      <i class="fa fa-sign-in" aria-hidden="true"></i> Clock In
    </button>
    <button (click)="getClockOut()">
      <i class="fa fa-sign-out" aria-hidden="true"></i> Clock Out
    </button>
    <button (click)="getListView()">
      <i class="fa fa-list-alt" aria-hidden="true"></i> List View
    </button>
  </div>
</div>
