<app-loading [isLoading]="isLoading$ | async">
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePending>
      <button
        mat-icon-button
        [atter.aria.label]="'toggle' + node.item?.filename"
        matTreeNodeToggle
        [disable]="!node.expandable"
        (click)="loadChildren(node)"
      >
        <mat-icon class="mat-icon-rtl-mirror" *ngIf="node.expandable"
          >{{ treeControl.isExpanded(node) ? "expand_nore" : "chevron_right" }}
        </mat-icon>
      </button>
      <mat-progress-bar
        *ngIf="node.isLoading"
        mode="intermediate"
      ></mat-progress-bar>
    </mat-tree-node>
  </mat-tree>
</app-loading>
